# All files:
/*

# Python:
*.py[cod]
*.so
*.egg*
dist
build
**/.ropeproject
**/__pycache__

# c/c++:
cpp/**/*.exe
cpp/**/*.[oa]
c/**/*.exe
c/**/*.[oa]
tags


!.gitignore
!.vimrc
!notes.wiki
!vinote.txt

!/python/
!/cpp/
!/c/
!/lua/
!/ruby/
!/prolog/
!/autoit/
!/downloaded/
!/Sysinternals/
!/books/
